
# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^([_0-9a-zA-Z-]+/)?files/(.+) wp-includes/ms-files.php?file=$2 [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule  ^[_0-9a-zA-Z-]+/(wp-(content|admin|includes).*) $1 [L]
RewriteRule  ^[_0-9a-zA-Z-]+/(.*\.php)$ $1 [L]
RewriteRule . index.php [L]
# END WordPress

php_value memory_limit 128M
php_value upload_max_filesize 50M
php_value post_max_size 50M

# uncomment the following block when you are doing an upgrade and need a maintenance page
# the ip address is to allow the admin to get through the blockade. You will change 
# if the network you are on changes. This also lets all graphic files through
# so our themes will still load images for admins in maintenance mode
# RewriteCond %{REQUEST_URI} !/maintenance.html$
# RewriteCond %{REQUEST_FILENAME} !.*jpg$|.*gif$|.*png$ [NC]
# RewriteCond %{REMOTE_HOST} !^66\.60\.166\.155
# RewriteRule $ maintenance.html [R=302,L]