/* MYRIAD v1.7 - spa :fullbg */

.colorscheme_bg,.icon_banner,body,body>.multibg>.multibg,
.wp-pagenavi a:hover,.paged-navigation a:hover,
.fancy_meta span,#slider_module_inner .partial_gradient_slide .slide_content,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#D58D75;}
.colorscheme_color,a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5,.testimonial_author_website a{/*:Color Scheme*/
color:#D58D75;}
.colorscheme_border,body,.fancy_meta span,#slider_module_inner .partial_gradient_slide .slide_content,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#D58D75;}
.colorscheme_sprite,.mysite_twitter_widget li,.mysite_twitter_widget a,.recentcomments,
.contact_widget_name,.contact_widget_phone,.contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3{/*:Icon Sprite*/
background-image:url(spa/custom_sprite_D58D75.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#666;font-size:13px;font-weight:normal;font-style:normal;font-family:"Lucida Sans Unicode","Lucida Grande","Droid Sans",sans-serif;}
h1{/*:h1 Font*/ 
color:#444;font-size:48px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
h2{/*:h2 Font*/ 
color:#444;font-size:36px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
h3{/*:h3 Font*/ 
color:#444;font-size:20px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
h4{/*:h4 Font*/ 
color:#444;font-size:17px;font-weight:normal;font-style:normal;font-family:lindenhill;}
h5{/*:h5 Font*/ 
/*color:inherit@*/;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link */
color:#D58D75;text-decoration:none;}
a:hover{/*:Link Hover */
color:#D58D75;text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(spa/spa.jpg);background-color:#D58D75;background-repeat:no-repeat;background-attachment:fixed;background-position:top left;}
/*:Body End ~*~*/


/*:Header ~*~*/
#header{/*:Header Background */
background-image:url(spa/header.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
.logo a{/*:Logo Font */
color:#eee;font-size:30px;font-weight:normal;font-style:normal;font-family:inherit;}
.header_links a{/*:Header Links Font */
color:#777;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
.header_links a:hover{/*:Header Links Hover */
color:#fff;text-decoration:none;}
.header_text,.header_text a{/*:Header Text Font */
color:#777;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu a{/*:Menu Font */
color:#eee;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
.jqueryslidemenu a:hover{/*:Menu Link Hover */
color:#fff;text-decoration:none;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#intro .intro_title{/*:Intro Title Font */
color:#444;font-size:48px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#intro .teaser{/*:Intro Teaser Font */
color:#aaa;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#444;font-size:25px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ddd;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro{/*:Intro Background */
background-image:url(spa/stripes.png);background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left bottom;}
#intro_inner{/*:Intro Inner Background */
background-image:url(spa/white70.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left bottom;}
/*:Intro End ~*~*/



/*:Slider ~*~*/
#slider_module{/*:Slider Background */
background-image:url(spa/black70.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;} 
#mysite_nivo_slider .nivo-controlNav,.slider_nav{/*:Slider Nav Background */
background-image:url(spa/stripes.png);background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left bottom;}
/*:Slider End ~*~*/



/*:Main Content ~*~*/
.full_width #content{/*:Full Width Content Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.right_sidebar #content{/*:Right Sidebar Content Background */
background-image:url(spa/right_sidebar.png);background-color:transparent;background-repeat:repeat-y;background-attachment:scroll;background-position:left top;}
.left_sidebar #content{/*:Left Sidebar Content Background */
background-image:url(spa/left_sidebar.png);background-color:transparent;background-repeat:repeat-y;background-attachment:scroll;background-position:left top;}
.commentlist_title,#reply-title,#comments-title,.blog_tabs{/*:Blog Tabs Font */
color:#666;font-size:14px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#sidebar .widgettitle{/*:Widget Titles Font */
color:#666;font-size:17px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro{/*:Outro Font */
color:#aaa;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
#outro a{/*:Outro Links */
color:#aaa;text-decoration:none;}
#outro{/*:Outro Background */
background-image:url(spa/outro.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#aaa;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#footer a{/*:Footer Links */
color:#aaa;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;} 
#footer_inner{/*:Footer Background */
background-image:url(spa/black70.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;} 
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#777;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(spa/stripes.png);background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left bottom;}
/*:Sub Footer End ~*~*/


/*:Forms ~*~*/
.textfield,.password,.textarea,#s,#comment{/*:Form Elements Font */
color:#666;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
.textfield,.password,.textarea,#s,#comment{/*:Form Elements Background */
background-image:url(spa/black10.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
.textfield,.password,.textarea,#s,#comment{/*:Form Elements Border */
border-color:#000000;border-width:0px;border-style:none;}
/*:Forms End ~*~*/


/*:Misc ~*~*/
.post_title,.post_title a{/*:Post Title Color */ 
/*color:inherit@;*/}
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#444;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#content .teaser{/*:Content Teaser Font */ 
color:#aaa;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Misc End ~*~*/


/*:Extras ~*~*/
.featured_tabs_container{/*:Feature Tour Background */
background-image:url(spa/feature_tour.png);background-color:transparent;background-repeat:repeat-y;background-attachment:scroll;background-position:left top;}
.tabs_vertical li a:hover,.featured_tabs li a:hover{/*:Feature Tour Hover Background */
background-image:none;background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.tabs_vertical li a:hover,.featured_tabs li a:hover{/*:Feature Tour Hover Color */
color:#fff;}
.fancy_portfolio .post_grid,.fancy_box_content{/*:Fancy Box Background */
background-image:url(spa/black40.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.fancy_box_content{/*:Fancy Box Font */
color:#fff;font-size:13px;font-weight:normal;font-style:normal;font-family:inherit;}
.pullquote{/*:Pullquote1 Background */
background-image:url(spa/black40.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.pullquote{/*:Pullquote1 Font */
color:#fff;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhillitalic;}
#content .widget_tag_cloud a,#content .mysite_popular_widget li,#content .mysite_recent_widget li,#content .widget_rss li,#content .mysite_twitter_widget a,#content .widget_recent_comments .recentcomments,#content .widget_pages a,#content .widget_nav_menu a,#content .mysite_subnav_widget a,#content .widget_recent_entries a,#content .widget_meta a,#content .widget_links a,#content .widget_archive a,#content .widget_categories a,#content activation_link_list a,.avatar{/*:Widget Lists Background */
background-image:none;background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#content .widget_tag_cloud a,#content .mysite_popular_widget li,#content .mysite_recent_widget li,#content .widget_rss li,#content .mysite_twitter_widget a,#content .widget_recent_comments .recentcomments,#content .widget_pages a,#content .widget_nav_menu a,#content .mysite_subnav_widget a,#content .widget_recent_entries a,#content .widget_meta a,#content .widget_links a,#content .widget_archive a,#content .widget_categories a,#content activation_link_list a,.avatar{/*:Widget Lists Font */
color:#fff;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
.about_author_module,#respond{/*:About Author Background */
background-image:none;background-color:#eee;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.previous_post a,.next_post a,.post_more_link a{/*:Post Nav Font */
color:#fff;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
.previous_post a,.next_post a,.post_more_link a{/*:Post Nav Next Background */
background-image:url(spa/right.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:right top;}
.previous_post a{/*:Post Nav Prev Background */
background-image:url(spa/left.png);background-color:#D58D75;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.post_more_link a:hover{/*:Post Nav Link Hover */
color:#fff;text-decoration:none;}
.divider{/*:Divider Border */
border-bottom-color:#ddd;border-bottom-width:1px;border-bottom-style:dashed;}
.tabs_framed a.current,.blog_tabs a.current,.tabs_framed_content,.blog_tabs_content{/*:Blog Tabs Background */
background-image:none;background-color:#f7f7f7;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
/*:Extras End ~*~*/


/* Custom CSS */

#content .widget_tag_cloud a,#content .mysite_popular_widget li,#content .mysite_recent_widget li,#content .widget_rss li,#content .mysite_twitter_widget a,#content .widget_recent_comments .recentcomments,#content .widget_pages a,#content .widget_nav_menu a,#content .mysite_subnav_widget a,#content .widget_recent_entries a,#content .widget_meta a,#content .widget_links a,#content .widget_archive a,#content .widget_categories a,.avatar{opacity:0.8;}
.blog_layout1,.blog_layout3{background:none;}
.log-in-out,#cancel-comment-reply-link,.comment-edit-link,.comment-reply-link,.comment-text p{opacity:1;}
.blog_layout1 .post_grid_module,.blog_layout3 .post_grid_module{margin-right:0;}
.about_author_module,#respond{box-shadow:0 5px 0 rgba(0,0,0,0.02) inset;}
.tabs_framed a.current,.blog_tabs a.current{border-color:transparent;}
.widgettitle,.commentlist_title,#reply-title,#comments-title,.blog_tabs{text-transform:none;}
.textfield:focus, .password:focus, .textarea:focus, #s:focus, #comment:focus{opacity:1;color:inherit;}
.commentlist cite,.commentlist cite a{color:#666;}
.blog_tabs{border-color:#eee;}
.blog_tabs a.current{border-color:#eee #eee #f7f7f7;}
.textfield:focus, .password:focus, .textarea:focus, #s:focus, #comment:focus{opacity:1;color:inherit;}